<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>JRetrofit</title>
<meta name="keywords" content="JRetrofit" />
<meta name="description" content="JRetrofit allows developers to retrofit interfaces to existing Java classes." />
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>
<div id="upbg"></div>
<div id="outer">
	<div id="header">
		<div id="headercontent">
			<h1>JRetrofit</h1>
		</div>
	</div>
	<div id="headerpic"></div>
	
	<div id="menu">
		{menu: vertical}
	</div>
	<div id="menubottom"></div>
	<div id="content">
		<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
		<div id="primarycontainer">
			<div id="primarycontent">
				<!-- Primary content area start -->
				<div class="post">
					<h3>{title: }</h3>
					<div class="contentarea">
						<!--
						<div class="details"></div>
						-->
						{block: }
					</div>
				</div>
				<!-- Primary content area end -->
			</div>
		</div>
		<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
		<div id="secondarycontent">
			<!-- Secondary content area start -->
			<div class="box">
				<h4>Latest news</h4>
				<div class="contentarea">
				    <hr />
				    <p>JRetrofit 1.0 final version was released on 5.5.2009. There were no changes from 1.0rc1.</p>
				    <p>Download it <a href="jretrofit-1.0.jar">here</a>.</p>
				    <hr />
				    <p>JRetrofit 1.0rc1 was released on 10.6.2007. Changes:</p>
				    <ul>
				      <li>Fixed a classloader bug when retrofitting an object with an
				          interface which comes from a different classloader than
				          the target class.</li>
				      <li>Retrofitted objects can now be serialized and deserialized.</li>
				      <li>More parameter checks, better error messages for incorrect usage.</li>
				    </ul>
				    <p>This is a release candidate version. If no new bugs are found, this version
				    will be released later as 1.0.</p>
				    <p>Download it <a href="jretrofit-1.0rc1.jar">here</a>.</p>
				    <hr />
				    <p>JRetrofit 0.6 was released on 6.1.2007. New features:</p>
				    <ul>
				      <li>Private inner classes can now be used as stubs.</li>
				      <li>Protected and package private methods can be used to "implement" a public method
				          (this breaks Java inheritance rules, but it is sometimes very useful 
				          when dealing with legacy stuff).</li>
				    </ul>
				    <p>Download it <a href="jretrofit-0.6.jar">here</a>.</p>
				    <hr />
					<p>JRetrofit 0.5, the initial public version, was released on 19.11.2006, including the handling of partial and complete retrofittings,
					method lookup caching, tutorials and documentation.</p>
					<hr />
				</div>
			</div>
			<div>
				<h4>Other stuff</h4>
				<div class="contentarea">
					<p>Hosted by Laughing Panda.</p>
					<a href="http://www.laughingpanda.org">
					    <img src="images/panda-logo-small.png" alt="Laughing Panda" height="140" width="140" />
                    </a>
                    <p />
                    <p>Website generated by webgen.</p>
                    <a href="http://webgen.rubyforge.org">
                        <img src="images/webgen-generated-by.png" alt="Generated by webgen" height="31" width="88" />
                    </a>
                    <p />
                    <p>Programmed with TDD.</p>
                    <a href="http://testdriven.com/">
                        <img src="images/rgrtdd.png" alt="I'm test-driven!" />
                    </a>
                    <p />
                    <p>Valid XHTML 1.0.</p>
                    <a href="http://validator.w3.org/check?uri=referer">
                        <img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0!" height="31" width="88" />
                    </a>
                    <p />
                    <p>Valid CSS.</p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img src="images/valid-css.png" alt="Valid CSS!" height="31" width="88" />
                    </a>
                    <p />
				</div>
			</div>
			<!-- Secondary content area end -->
		</div>
	</div>
	<div id="footer">
			<div class="left">&copy; Copyright 2006 Ville Peurala.</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
</div>
<!-- Google Analytics script begin -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-832056-1";
urchinTracker();
</script>
<!-- Google Analytics script end -->
</body>
</html>
